div {
  font-family: Arial;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(120, 82, 178);
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-left: 15px;
  padding-bottom: 15px;
}

.left-section{
  font-weight: bold;
}


.search-bar {
  border: none;
  border-radius: 15px;
  width: 500px;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 20px;

}


button {
  background-color: rgb(120, 82, 178);
  color: white;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 6px;
}