.cutie{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.p1{
  font-size: 18px;
  border: none;
  color: grey;
  width: 300px;
  vertical-align: middle;
}

.tweet-button{
  background-color: #5596d6;
  border: none;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}

.card{
  border-width: 2px;
  border:none;
  border-radius: 10px;
  width: 500px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}