.image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.para1{
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
}
.para2{
  color: rgb(100, 100, 100);
  margin-left: 8px;
  margin-bottom: 12px;
}
.card{
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.add-button{
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}