div{
  text-align: center;
}

.google-pic{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input{
  font-size: 16px;
  width: 500px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0,0.2);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.google-button {
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-button {
  margin-right: 10px;
}