.google-search{
  font-size: 15px;
  width: 500px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0,0.25);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}