div {
  font-family: Arial;
}

.card {
  border: none;
  border-width: 1px;
  border-radius: 2px;
  width: 470px;
  height: 270px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-left: 15px;
}

.inbox {
  color: rgb(120, 120, 120);
  margin-top: 40px;
  margin-left: 20px;
  padding-top: 6px;
  font-size: 14px;
}


.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 15px;
  margin-left: 20px;
}


.secondbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dp {
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cat-info {
  flex: 1;
  margin-top: 15px;
  margin-left: 10px;
}

.first-line {
  font-weight: bold;
  font-size: 18px;
}

.first-line1 {
  font-size: 14px;
  color: rgb(120, 120, 120);
  margin-right: 10px;
}

.second-line {
  font-weight: bold;
  font-size: 14px;
}

.third-line {
  color: rgb(120, 120, 120);
}