body{
  height: 3000px;
}
div{
  font-family: Arial;
}
.outside-box{
  position: relative;
}

.inside-box{
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-radius: 60px;
}