.google-pic{
  display: block;
  width: 200px;
  object-fit: cover;
  object-position: center;
  margin-left: 150px;
  margin-bottom: 10px;
}

.google-search{
  font-size: 16px;
  width: 500px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0,0.2);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
}