.first-box,
.last-box{
  height:24px;
  width: 110px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: solid;
}
.email-box{
  display: block;
  margin-bottom: 12px;
  border-style: solid;
  height:24px;
  width: 230px;
  border-radius: 5px;
}

.sign-button{
  background-color: #0a66c2;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 240px;
  cursor: pointer;
}