p{
  font-family: Arial;
}

.para{
  font-size: 40px;
  margin-bottom: 25px;
}

input{
  display: block;
  background-color: rgb(240,240,240);
  border: none;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  width: 400px;
}

.desti-box{
  margin-bottom: 35px;
}

.request-button{
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 20px ;
  cursor: pointer;
}

.later-button{
  background-color: rgb(240, 240, 240);
  border: none;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}