body{
  height: 3000px;
}
div{
  font-family: Arial;
}
.container{
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 900px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}





.dp{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.username{
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 7px;
  font-family: Arial;
  font-weight: bold;
}
.buttons{
  display: flex;
  align-items: center;
}




.friends{
  background-color: rgb(24, 119, 242);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  height: 35px;
  width: 90px;
  margin-left: 300px;
}

.message{
  background-color:rgb(230, 230, 230);
  color: black;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  height: 35px;
  width: 90px;
  margin-left: 4px;
}