p{
    font-family: Verdana;
    margin-top: 0;
    margin-bottom: 0;
  }
  .p1{
    font-weight: bold;
    font-size: 18px;
  }
  .p2{
    color:rgb(96, 96, 96);
    font-size: 14px;
    line-height: 18px;
  }
  .p3{
    width: 300px;
    line-height: 22px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .button{
    background-color: green;
    color:white;
    border:none;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
